<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Upload MP3</title>
</head>
<body>
    <div class="container mt-4 col-6"></div>
    <form id="uploadForm" method="post"  class="form-group"enctype="multipart/form-data" action="/upload">
        <input type="file" id="mp3File" class="form-control" name="mp3File" accept=".mp3" required>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</body>
</html>
