<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Modify Metadata</title>
</head>

<body>
    
    <div class="container mt-4 col-4">
        <h2>Modify Metadata</h2>
        <form action="/file_process" method="get">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group">
                <label>Genre</label>
                <input type="text" class="form-control" name="genre" required>
            </div>
            <div class="form-group">
                <label>Artist</label>
                <input type="text" class="form-control" name="artist" required>
            </div>
            <div class="form-group">
                <label>Album</label>
                <input type="album" class="form-control" name="album" required>
            </div>
            <div class="d-flex">
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a id="download" class="btn btn-success ml-auto"> Download</a>
            </div>
            
        </form>
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('download').addEventListener('click',function(event){
            const fileName = '{{ file_name[0] }}';
            window.location.href = '/download/' + fileName;

        });
        document.getElementById('submit').addEventListener('click',function(event){
            downloadLink.style.display = 'inline-block';
        })

    </script>
</body>

</html>